* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1; /* Mettez le z-index à -1 pour que la vidéo soit en arrière-plan */
}

.home-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1; /* Mettez le z-index à 1 pour que les boutons et le logo soient au-dessus de la vidéo */
}

.logo {
  max-width: 100%;
  margin-bottom: 20px; /* Ajustez selon vos besoins */
}

.home-box button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.home-box button:hover {
  background-color: transparent;
  color: white;
}
