<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste de Noms</title>
  </head>
  <body>
    <h1>Liste des Utilisateurs</h1>
    </br>
    <form action="/adminpanel" method="POST">
        <input type="text" placeholder="Username" name="username">
        <input type="text" placeholder="Password" name="password">
        <input type="submit" value="Add User" class="btn btn-secondary">
    </form>
    <br></br>
    {% for user in userlist %}
    <h5>
      {{user.id}}
      {{user.name}}
      {{user.password}}
    </h5>
    {% endfor %}
  </body>
</html>
