<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catégorie Documentaire</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_documentaire.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <!-- Logo en haut à gauche -->
      <link
        rel="icon"
        href="{{ url_for('static', filename='ZestViewLOGO.png') }}"
        type="image/png"
      />
    </div>

    <div class="logo-container">
      <img
        src="{{ url_for('static', filename='ZestViewLOGO.png') }}"
        alt="ZestView Logo"
        class="logo"
      />
    </div>

    <!-- Retour à la page précédente -->
    <div class="go-back">
      <a href="{{url_for('home')}}" class="back-link"
        >&#8592; Retour à l'accueil</a
      >
    </div>

    <div class="category-name">
      <!-- Nom de la catégorie -->
      <h2>Documentaire</h2>
    </div>

    <div class="main">
      <div class="video-list">
        <div class="video-item" onclick="openVideo('{{ videos[0].link }}')">
          <img src="https://img.youtube.com/vi/{{ videos[0].link }}/0.jpg" alt="{{ videos[0].title }}" />
          <h3>{{ videos[0].title }}</h3>
        </div>
        <div class="video-item" onclick="openVideo('{{ videos[1].link }}')">
          <img src="https://img.youtube.com/vi/{{ videos[1].link }}/0.jpg" alt="{{ videos[1].title }}" />
          <h3>{{ videos[1].title }}</h3>
        </div>
        <div class="video-item" onclick="openVideo('{{ videos[2].link }}')">
          <img src="https://img.youtube.com/vi/{{ videos[2].link }}/0.jpg" alt="{{ videos[2].title }}" />
          <h3>{{ videos[2].title }}</h3>
        </div>
        <div class="video-item" onclick="openVideo('{{ videos[3].link }}')">
          <img src="https://img.youtube.com/vi/{{ videos[3].link }}/0.jpg" alt="{{ videos[3].title }}" />
          <h3>{{ videos[3].title }}</h3>
        </div>
        <div class="video-item" onclick="openVideo('{{ videos[4].link }}')">
          <img src="https://img.youtube.com/vi/{{ videos[4].link }}/0.jpg" alt="{{ videos[4].title }}" />
          <h3>{{ videos[4].title }}</h3>
        </div>
        <div class="video-item" onclick="openVideo('{{ videos[5].link }}')">
          <img src="https://img.youtube.com/vi/{{ videos[5].link }}/0.jpg" alt="{{ videos[5].title }}" />
          <h3>{{ videos[5].title }}</h3>
        </div>
        <div class="video-item" onclick="openVideo('{{ videos[6].link }}')">
          <img src="https://img.youtube.com/vi/{{ videos[6].link }}/0.jpg" alt="{{ videos[6].title }}" />
          <h3>{{ videos[6].title }}</h3>
        </div>
        <div class="video-item" onclick="openVideo('{{ videos[7].link }}')">
          <img src="https://img.youtube.com/vi/{{ videos[7].link }}/0.jpg" alt="{{ videos[7].title }}" />
          <h3>{{ videos[7].title }}</h3>
        </div>
      </div>
    </div>

    <script>
      function openVideo(videoId) {
        // Redirige vers la page de lecteur avec l'ID de la vidéo sélectionnée
        window.location.href = "/home/lecteur.html?videoId=" + videoId;
      }
    </script>
  </body>
</html>
