<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_create_account.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='ZestViewLOGO.png') }}"
      type="image/png"
    />
  </head>
  <body>
    <video
      src="{{ url_for('static', filename='LemonBackground.mp4') }}"
      autoplay
      loop
      muted
    ></video>

    <div class="go-back">
      <a href="{{url_for('bienvenue')}}" class="back-link"
        >&#8592; Retour à l'accueil</a
      >
    </div>

    <div class="create-account-box">
      <form action="{{url_for('create_account')}}" method="post">
        <div class="user-box">
          <label for="username">Nom d'utilisateur :</label>
          <input type="text" name="username" id="username" required />
        </div>
        <div class="user-box">
          <label for="password">Mot de Passe :</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="user-box">
          <label for="confirm-password">Confirmer le mot de passe :</label>
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            required
          />
        </div>
        <div class="submit">
          <input type="submit" value="Créer un compte" />
        </div>
      </form>
    </div>
  </body>
</html>
