<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_home.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='ZestViewLOGO.png') }}"
      type="image/png"
    />
  </head>
  <body>
    <div class="header">
      <!-- Logo en haut à droite -->
      <img
        src="{{ url_for('static', filename='ZestViewLOGO.png') }}"
        alt="ZestView Logo"
        class="logo"
      />

      {% if right == 'Admin' %}
      <div class="admin-access">
        <a href="{{ url_for('adminpanel') }}" class="admin-access-button">Accés au panel admin</a>
      </div>
      {% endif %}
    </div>

    <div class="change-account-box">
      <a href="{{ url_for('bienvenue') }}" class="change-account-button">Changer de compte</a>
    </div>

    <div class="content">
      <!-- Contenu de la page -->
      <h1>Bonjour {{ name_user }}. Bienvenue sur ZestView</h1>

      <!-- Message central et boutons des catégories -->
      <div class="category-section">
        <h2>Choisissez votre catégorie</h2>
        <div class="category-buttons">
          <a href="{{url_for('jv')}}"
            ><button type="button" class="category-button">
              Jeux vidéos
            </button></a
          >
          <a href="{{url_for('musique')}}"
            ><button type="button" class="category-button">Musique</button></a
          >
          <a href="{{url_for('sport')}}"
            ><button type="button" class="category-button">Sport</button></a
          >
          <a href="{{url_for('cuisine')}}"
            ><button type="button" class="category-button">Cuisine</button></a
          >
          <a href="{{url_for('documentaire')}}"
            ><button type="button" class="category-button">Documentaire</button></a
          >
          <a href="{{url_for('automobile')}}"
            ><button type="button" class="category-button">Automobile</button></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
