<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_home.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='ZestViewLOGO.png') }}"
      type="image/png"
    />
  </head>
  <body>
    <div class="header">
      <!-- Logo en haut à droite -->
      <img
        src="{{ url_for('static', filename='ZestViewLOGO.png') }}"
        alt="ZestView Logo"
        class="logo"
      />

      {% if right == 'Admin' %}
      <div class="admin-access">
        <a href="{{ url_for('adminpanel') }}"><button type="button">Accéder au panel administrateur</button></a>
      </div>
      {% endif %}
    </div>

    <div class="content">
      <!-- Contenu de la page -->
      <h1>Bonjour {{ name_user }}. Bienvenue sur ZestView</h1>
    </div>

    <!-- Afficage des préférences utilisateurs -->
    <div class="preferences">
      <h2>Voici vos préférences :</h2>
      <div class="preference-box">
        <h3>Catégorie 1 :</h3>
        <p>{{ pref1 }}</p>
      </div>
      <div class="preference-box">
        <h3>Catégorie 2 :</h3>
        <p>{{ pref2 }}</p>
      </div>
      <div class="preference-box">
        <h3>Catégorie 3 :</h3>
        <p>{{ pref3 }}</p>
      </div>
    </div>

    <!-- Boutons redirigeant vers des templates spécifiques -->
    <div class="buttons">
      <a href="{{url_for('musique')}}"><button type="button">Musique</button></a>
      <a href="{{url_for('jv')}}"><button type="button">Jeux vidéos</button></a>
      <a href="{{url_for('sport')}}"><button type="button">Sport</button></a>
    </div>
  </body>
</html>
