<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lecteur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_lecteur.css') }}" />
    
    <div class="video-player">
      <!-- La balise iframe pour afficher la vidéo -->
      <iframe src="" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <script>
    // Récupère les paramètres de l'URL
    const urlParams = new URLSearchParams(window.location.search);
    const videoLink = urlParams.get('videoLink');

    // Récupère l'élément iframe
    const iframe = document.querySelector('.video-player iframe');

    // Vérifie si videoLink n'est pas null ou vide, puis met à jour la source de l'iframe
    if (videoLink) {
      iframe.src = "https://www.youtube.com/embed/" + videoLink;
    } else {
      // Si videoLink est vide ou null, affiche un message d'erreur ou une action par défaut
      console.error('Lien de vidéo manquant.');
      // Tu peux aussi rediriger l'utilisateur ou afficher un message à l'écran
    }
  </script>
  </head>
  <body>
    <div class="header">
      <link rel="icon" href="{{ url_for('static', filename='ZestViewLOGO.png') }}" type="image/png" />
    </div>

    <div class="video-player-container">
      <iframe src="" frameborder="0" allowfullscreen></iframe>
    </div>
  </body>
</html>
