<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_login.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='ZestViewLOGO.png') }}"
      type="image/png"
    />
  </head>
  <body>
    <video
      src="{{ url_for('static', filename='LemonBackground.mp4') }}"
      autoplay
      loop
      muted
    ></video>

    <div class="go-back">
      <a href="{{url_for('bienvenue')}}" class="back-link"
        >&#8592; Retour à l'accueil</a
      >
    </div>

    <div class="login-box">
      <form action="{{url_for('traitement')}}" method="post">
        <!--action : definie la route de l'URL sur laquel les données du formulaire vont être transmis
            methode : méthode d'envoie des données au serv (GET, POST)-->

        <div class="user-box">
          <label for="user">Nom d'utilisateur :</label>
          <input type="text" name="username" id="user" required />
        </div>
        <div class="user-box">
          <label for="pw">Mot de Passe :</label>
          <input type="password" name="password" id="pw" required />
        </div>
        <div class="error-message" id="error-message">
          <!-- Boîte de message d'erreur -->
        </div>
        <div class="error-message" id="error-message">
          <!-- Boîte de message d'erreur -->
        </div>
        <div class="submit">
          <input type="submit" value="Connexion" />
        </div>
      </form>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var form = document.querySelector("form");
        var errorMessage = document.getElementById("error-message");

        form.addEventListener("submit", function (event) {
          // Vous devrez remplacer cette condition par la logique réelle de vérification des identifiants
          var credentialsAreIncorrect = true;

          if (credentialsAreIncorrect) {
            // Afficher le message d'erreur
            errorMessage.innerText =
              "Identifiants incorrects. Veuillez réessayer.";
            errorMessage.style.display = "block";

            // Empêcher l'envoi du formulaire
            event.preventDefault();
          } else {
            // Si les identifiants sont corrects, vous pouvez laisser le formulaire être soumis
          }
        });
      });
    </script>
  </body>
</html>
