<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_accueil.css') }}">
</head>
<body>
    <video src="{{ url_for('static', filename='LemonBackground.mp4') }}" autoplay loop muted></video>

    <div class="home-box">
        <img src="{{ url_for('static', filename='ZestViewLOGO.png') }}" alt="ZestView Logo" class="logo">
        <button onclick="location.href='login'">Se connecter</button>
        <button onclick="location.href='create_account'">Créer un compte</button>
        <!--Simplement mettre le nom des fonctions en href pour naviguer sur HTML et FLASK simultanément-->
    </div>
</body>
</html>
